{
	"twitter": {
		"auth": {
			"consumer_key": "...",
			"consumer_secret": "...",
			"access_token": "...",
			"access_token_secret": "..."
		},

		"search_interval": 120,
		"queries": [
			"\"i love\" :)",
			"\"i like\" :)",
			"\"i don't like\" OR \"i dislike\" :(",
			"\"i hate\" :("
		]
	},
	"server": {
		"port" : 8989
	}
}